<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <title>Company Register</title>
</head>
<body>

  <h1>Company Register</h1>
  <div class="cards">
  <form action="/cregister" method="POST">
    <div cla="input">
      <label for="username">Company Id</label>
      <input required placeholder="id" type="text" name="username" id="username">
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input required placeholder="password" type="password" name="password" id="password">
    </div>
    <button type="submit">Register</button>
  </form>
</div>
</body>
</html>
