<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
   </head>

<body>
   <h1>CertiChain</h1>
  <div class="cards">
    <div class="card-1">
       <h2>Students</h2>
       <p>You can track your certificates</p>
       <hr>
       <a href="/register" class="b">Register</a>
       <a href="/login" class="b">Login</a>
    </div>
    <div class="card-1">
       <h2>Employers</h2>
       <p>Verify authenticity of certificates</p>
       <hr>
       <a href="cregister" class="b">Register</a>
       <a href="clogin" class="b">Login</a>
    </div>
    <div class="card-1">
       <h2>Universities</h2>
       <p>Upload and manage student certificates</p>
       <hr>
       <a href="uregister" class="b">Register</a>
       <a href="ulogin" class="b">Login</a>
    </div>
  </div>
</body>
</html>
