<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/result.css">
</head>
<body>
    <div class="receipt">
        <p>Issuance Receipt</p>
        <!-- <p><strong>Name:</strong><%# name %></p>
        <p><strong>Reg No:</strong><%# regNo %></p>
        <p><strong>Course:</strong><%# course %></p>
        <img width="200px" height="200px" src="<%# url %>" alt="error loading">
        !-->
        <div class="btns">
             <a  href="/download">Download PDF</a>
            <a href="/">Issue Another Certificate</a>
            <a href="/view">View Issued Certificates</a>
        </div>
    </div>
</body>
</html>