body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
      font-size: large;
  font-family: 'Arvo','serif';
}
table{
    width: 70%;
    border: 2px solid #7F8C8D;
    text-align: center;
}
table tr td{
    font-size:20px;
}
.head{
    background-color: #1F3B6F;
    color: white;
    height: 50px;
}
tr{
    background-color: #f5f5f5;
    color: #2C3E50;
}
@media (max-width:450px){
    table{
        width: 100%;
        height: fit-content;
    }
    body{
        margin: 0;
        padding: 0;
    }
}